{% extends 'base.html' %}
{% block content %}
<div>
    <div class="text-center">

  <h2>Enter Your Issue</h2>
  <div class="card  p-3">
    <div class="card-body">


{% if messages %}

<div class="messages" style="width: 600px;margin-left:400px">
  {% for message in messages %}
  <div class="alert alert-success">
    <strong>Success!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endif %}

<form action="{% url 'complaintapp:comp' %}" method="post" >
    {% csrf_token %}
    <textarea name="com" placeholder="enter your problem" style="width:300px; height:150px;"></textarea><br>
    <input type="email" name="email" placeholder="enter your email"><br>
    <input type="file" name="img" placeholder="upload your issue"><br>
<!--    <input type="number" name="phone" placeholder="enter your phonenumber"><br>-->
    <input type="date" name="date" placeholder="date"><br>
    <input type="submit">
</form>

    </div>
    </div>
        </div>
</div>
    </div>

{% endblock %}
